"username@domain.tld:loveme31|Security Questions Enabled - Cannot continue.<br>"
"username-username18@domain.tld:dragon12<br>"
"username_username@domain.tld:123qweASD<br>"
"UserName@domain.tld:JTF258521199<br>"
"username.username@domain.tld:1029384756t|Standard Edition (Region is Other)<br>"
"username.username@domain.tld:1029384756t.|Standard Edition (Region is Other)<br>"
"Username.Username@domain.tld:1029384756t!|Standard Edition (Region is Other)<br>"
